.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 8px;
}

.gallery {
  height: 370px;
  white-space: nowrap;

  View {
    display: inline-block;
    height: 100%;
    width: 85%;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
    background-color: #fef;

    &:first-child {
      margin-left: 16px;
    }

    &:last-child {
      margin-right: 16px;
    }
  }

  View + View {
    margin-left: 16px;
  }
}
